<app-card>
  <form class="flex justify-center flex-col items-center gap-3">
    <label for="title">Title</label>
    <input type="text" placeholder="Task title" id="title" />

    <label for="paperInputs1">Description</label>
    <textarea
      id="large-input"
      placeholder="More details for the task"></textarea>
    <label for="paperSelects1">Select</label>
    <select id="paperSelects1">
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>

    <app-button>Submit</app-button>
  </form>
</app-card>
