<main class="flex justify-center">
  <div class="container">
    <div class="paper">
      <div class="lines">
        <div class="text">
          <section>
            <h1 class="text-5xl font-bold text-center">To-do list!</h1>
            <app-button>Create new item</app-button>
          </section>
          <br /><br />

          <app-task-list />
        </div>
      </div>
      <div class="holes hole-top"></div>
      <div class="holes hole-middle"></div>
      <div class="holes hole-bottom"></div>
    </div>
  </div>

  <!-- <div class="content" role="main">
  <app-task-list />
</div> -->

  <router-outlet></router-outlet>
</main>
