<main>
  <div class="container">
    <div class="paper">
      <div class="lines">
        <div class="text">
          <h1 class="title">To-do list!</h1>
          <br /><br />

          <app-task-list />
        </div>
      </div>
      <div class="holes hole-top"></div>
      <div class="holes hole-middle"></div>
      <div class="holes hole-bottom"></div>
    </div>
  </div>

  <!-- <div class="content" role="main">
  <app-task-list />
</div> -->

  <router-outlet></router-outlet>
</main>
