<section class="h-full">
  <h1 class="text-5xl font-bold text-center">To-do list!</h1>
  <div class="flex flex-wrap justify-between">
    <app-button (clicked)="redirect($event)">Create new item</app-button>
    <div class="tabs">
      <input
        id="tab1"
        type="radio"
        name="tabs"
        checked
        class="w-1/2"
        (click)="setActiveTasks(false)" />
      <label for="tab1">Pending</label>

      <input
        id="tab2"
        type="radio"
        name="tabs"
        (click)="setActiveTasks(true)" />
      <label for="tab2">Finished</label>
    </div>
  </div>
  <br />
  <app-task-list [tasks]="filteredTasks" (getData)="getTasks()" />
</section>
